:root {
--brun-color: #412a1e;
--brun-color-2: #F0D687;
--brun-color-3:#5A4F3D;
--yellow-color:#f8de3c;
--white-color:#fefefe;
--blue-color-1:#58acf4;
--blue-color-2:#105edd;
--blue-color-3:#0b3075;
--red-color:#c8472c;
--green-color: #95A650;

--color1: #0e0f0f;
--colo2: #0a0b0b;
--color3: #0b9c90;
--color4: #d4d5d5;
--color5: #565757;
--color6: #323232;
--color7: #146660;
--color8: #404344;
--color9: #567c7c;

}

body,
html {
  padding: 0px;
  margin: 0px;
  background-color: var(--color1);
  font-size: 14px;
  color: var(--color4);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* LOADER */
.loader-container {
  background-color: #161616;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.loader-container p {
  color: rgb(213, 213, 213);
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-container .filet {
  border-top: 1px solid rgb(72, 72, 72);
  width: 15%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0);
  border-top: 4px solid rgb(30, 158, 255);
  -webkit-animation: spin 0.9s linear infinite;
  animation: spin 0.9s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: translate(-30%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-30%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate(-15%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-15%, -50%) rotate(360deg);
  }
}

.container-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto auto 1fr auto;
  margin: 0px;
  padding: 0px;
}

header {
  z-index: 2;
  grid-column: span 3;
  position: relative;
  height: 100%;
  min-height: 35vh;
  width: 100%;
  overflow: hidden;
  background: no-repeat center url('../res/orphea_ban.png');
  background-size: 80%;
  background-position: center;

}

/* header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-65%);
  -moz-transform: translateX(-50%) translateY(-65%);
  -webkit-transform: translateX(-50%) translateY(-65%);
  transform: translateX(-50%) translateY(-65%);
} */

header h1 {
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 35px;
  text-shadow: 1px 10px 10px #000;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

nav {
  grid-column: span 3;
  position: relative;
  background-color: var(--color6);
  height: 30px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.list-nav a {
  color: var(--red-color);
  text-decoration: none;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

a:hover {
  color: var(--color3);
}

main {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  background-color:var(--colo2);
  box-shadow: 0 0px 8px 6px #1c1c1c;
}

table {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  align-items: center;
  max-width: auto;
  min-width: 100px;
  border-radius: 10px;
}

thead {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--color7);
}
tbody {
  height: 600px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--color9);
}
th {
  width: 300px;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color:var(--white-color);
  text-transform: uppercase;
}
td {
  width: 300px;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: var(--white-color);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #cacaca;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.618);
  background-color: #272727;
}

.Annonce {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  word-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--color3);
  border-bottom: solid 1px #c8472c;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20%;
  padding-left: 20%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  color: var(--color8);
  font-family: "Raleway";
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.stats {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  font-family: sans-serif;
  text-align: justify;
}

.update {
  display: flex;
  grid-column: span 3;
  text-transform: uppercase;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
  padding: 5px;
  font-family: sans-serif;
  border: solid 2px #346751;
  border-radius: 5px;
  box-shadow: #cdfae7 1px 0 2px;
}

footer {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #161616;
  padding: 2px;
}

footer p {
  text-transform: uppercase;
  line-height: 25px;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .container-grid {
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .list-nav a {
    font-size: 0.8rem;
  }
  main {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
  }
  .Annonce {
    padding: 15px;
    font-size: 0.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .stats {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    padding-top: 15px;
    font-family: sans-serif;
    text-align: justify;
  }
  .update {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 4px;
    font-family: sans-serif;
    border: solid 2px #346751;
    border-radius: 2px;
    box-shadow: #cdfae7 1px 0 2px;
  }
  footer p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 400px) {

  .container-grid {
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .list-nav a {
    font-size: 0.8rem;
  }
  main {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
  }
  .Annonce {
    padding: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .stats {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    padding-top: 15px;
    font-family: sans-serif;
    text-align: justify;
  }

  .update {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 4px;
    font-family: sans-serif;
    border: solid 2px #346751;
    border-radius: 2px;
    box-shadow: #cdfae7 1px 0 2px;
  }
}
